/*General Settings*/
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

section {
    height: 50px;
}


.one {
    background-color: rgb(0, 0, 0);
}
.two {
    background-color: rgb(50, 50, 50);
}
.three {
    background-color: rgb(100, 100, 100);
}
.four {
    background-color: rgb(150, 150, 150);
}
.five {
    background-color: rgb(200, 200, 200);
}
.six {
    background-color: rgb(250, 250,0);
}
.seven {
    background-color: rgb(250, 0, 250);
}


@media (min-width: 601px) {

    body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}
    .one, .two, .six, .seven {
       flex-basis: 50%;
       height: 33%;
    } 
    .three, .four, .five {
        flex-basis: calc(100%/3);
        height: 33%;
    }
    
}

@media (min-width: 801px) {}
